{% extends 'layouts/front.twig' %}
{% block breadcrumb %}
    <div class="breadcrumb">
        <a href="{{ url_to('index/about') }}" title="About Us">About Us</a>
    </div>
{% endblock %}

{% block content %}


    <div class="about">
        <h1>About Mytutor</h1>
        <p>Here at Mytutor we see a lot of other tutor agencies who are charging high fees for both students and tutors.
            We would rather help bring together the right students and the right tutors, for a fair price. We have such a
            large number of tutors already registered on our site, that we are confident that whatever your tutoring needs,
            we have the right tutor for you. If you are a tutor, we are certain that we can supply you with a large number
            of students, who can benefit from your teaching expertise</p>

        <p>Our whole style of working is different from many other tutoring agencies: we do not take a continuous cut from
            every lesson, like many other sites. Our aim is to bring tutors and pupils together: with this done, we consider
            our task accomplished. We do not interfere by taking a regular payment from each session thereafter. Once the
            student has found a tutor he/she is happy with, a simple one-off payment will provide them with their contact
            details. We will require no further remuneration from this point.</p>

        <p>If you are a student, wishing to find a suitable teacher, you should click the search button. You will be quickly
            presented with a list of all our tutors specialising in the subject of your choice. Here at Mytutor we hold
            the contact details of thousands of tutors. Each tutor will have their own profile page, where you will clearly
            be able to see the qualifications they posses, the prices the tutor charges per hour, and a photograph of them,
            along with some personal details. The tutors can easily be sorted by the subjects taught, enabling you to search
            with greater ease for someone suitable. We have so many skilled teachers registered with us that our range of
            subjects is extremely broad: everything from biology, to ballet, and ancient history, to astronomy is on offer!
            We defy you to find any institution of education which offers such a vast variety of subjects! You will be able
            to see how long each tutor has been active on Mytutor, and obtain feedback from other pupils. We take the
            experience of users of Mytutor very seriously, and are always interested in your opinions with our service. By
            having so many tutors on our listings, we are confident that for every student who comes to our site, we have
            for them the perfect tutor; and for every tutor who joins us, we will aim to provide them with students who can
            profit from their erudition and teaching expertise. </p>

        <p> If you have never tuitioned before, but feel you would like to put your academic qualifications to positive,
            pecuniary use, you might consider registering with Mytutor. In just a few minutes you will be able to create a
            profile page here on our site, which will allow you to advertise your tuition services to the thousands of
            students registered with us. This profile page will feature any personal information you wish to write about
            yourself, along with your qualifications, the price you charge per hour, the subjects you are offering to teach,
            and the academic level you can teach up to: GCSE, A level, degree level etc. You will be able to specify a
            catchment area - a zone you are willing to travel to, in order to meet with your pupils.
        </p>

        <h2>Confidentiality</h2>
        <p>We realise that some of our tutors teach at local schools and would like to keep their personal details
            confidential. We will not show personal information other than your first name and rough location in searches
            results, or on your profile. We have developed a system where the students can make enquiries to tutors through
            MyTutor directly. We only release personal details once the tutor wishes us to do so. </p>

        <h2>Feedback</h2>
        <p>We take feedback very seriously, and are always interested in your views with Mytutor, good or bad. Ultimately
            we want to make the lives of both students and tutors easier, so any suggestions or improvements you think we
            can make we'd love to hear about it! </p>
    </div>
{% endblock %}