{% extends 'layouts/front.twig' %}

{% block breadcrumb %}
    <div class="breadcrumb">
        <a href="#">Pricing</a>
    </div>
{% endblock %}

{% block content %}
    <div class="price">
        <div class="row">
            <div class="col-md-4">
                <div class="price_box ">
                    <br/>
                    <p class="time">1 Hour</p>
                    <span style="font-size: 14px; ">/month</span>

                    <div class="price_feature">
                        <ul>
                            <li>24/7 access</li>
                            <li>No appointments</li>
                            <li>Mobile access</li>
                            <li>Minutes for all subjects</li>
                            <li>Change/cancel any time</li>
                            <li class="link-color" style="display:none;"><a href="/pricing-full/guarantee.aspx" target="_blank">Better Grade Guarantee</a></li>
                        </ul>
                    </div>


                </div>
            </div>

            <div class="col-md-4">dsf</div>

            <div class="col-md-4">dsf</div>
        </div>
    </div>
{% endblock %}
