{% extends 'layouts/front.twig' %}
{% block breadcrumb %}
    <div class="breadcrumb">
        <a href="#">Tutor</a>
    </div>

    <div class="breadcrumb">
        <a href="#">Algebra</a>
    </div>
{% endblock %}

{% block content %}

     {# page heading #}
     <div class="p_heading">
         <h1>Tutor</h1>
     </div>




{% endblock %}