<header id="myCarousel" class="carousel slide">
    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url({{ asset('front/images/bg2.png') }});"></div>
        </div>

        <div class="item">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" style="background-image:url({{ asset('front/images/bg1.png') }});"></div>
        </div>
    </div>
</header>