<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Mytutor</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_to('tpanel/index/profile') }}">Profile</a></li>
                <li><a href="{{ url_to('tpanel/index/reset') }}">Setting</a></li>
                <li><a href="{{ url_to('tpanel/index/privacy') }}">Privacy</a></li>
                <li><a href="{{ url_to('tpanel/index/logout') }}"><button class="reg_btn btn btn-primary" type="button">Logout</button></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>