{% extends 'layouts/tutor.twig' %}
{% block title %}Feedback{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="content">
                <div class="heading">
                    <h1>your requests</h1>
                </div>

                <div class="box">
                    <div class="title">Your Request</div>
                </div>

                <div class="box_border">
                    <div class="form">
                        <table>
                            <tr>
                                <td>Your Request in brief </td>
                                <td><textarea  id="" cols="40" rows="5" name="description" class="textarea" ></textarea></td>
                            </tr>

                            <tr>
                                <td></td>
                                <td>
                                    <br/>
                                    <button class="submit_btn">Submit </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}