{% extends  'layouts/tutor.twig' %}
{% block title %}Summary{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="col-md-12">
            <div class="content">

                <div class="heading">
                    <h1>Summary</h1>
                </div>

                <div class="box">
                    <div class="title">
                        Summary
                    </div>
                </div>

                <div class="box_border">
                    <div class="form">
                        <table>
                            <tr>
                                <td>Account Type:</td>
                                <td><b> {{ data.type|capitalize }}</b></td>
                            </tr>

                            <tr>
                                <td>Your reference link:</td>
                                <td><b> {{ url_to('tutor/'~data.id) }}</b></td>
                            </tr>

                            <tr>
                                <td>Last Login:</td>
                                <td><b> {{ data.last_login|date('d-M-y h:i:s') }}</b></td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}