<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
</head>
<body>
<h2>Welcome</h2>

<div>
    Hello Admin,Your Password Reset Code is here
</div>
<div> your password reset link is {{link}}</div>

</body>
</html>