<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tutor Request</title>
</head>
<body>
<div style="background:#7AA3E6; padding:3px 0px; margin-bottom:5px; "></div>
<br/>
<div>Hi </div>
<div>Thanks for being a part of mytutor.</div>
<br/>
<div>To confirm you account click on the given account</div>
<div>{{ url }}</div>

</body>
</html>