<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tutor Request</title>
    </head>
     <body>
     <div style="background:#7AA3E6; padding:3px 0px; margin-bottom:5px; "></div>
     <br/>
     <div>Hi {{ name }},</div>
     <div>Thank you for reaching out to the mytutor Support Team - we hope you’re satisfied with the way your request was handled. If you still need help, please reply to this email and we will get in touch with you as soon as possible.</div>
     <div>We would love to know more about your experience with your support representative. To leave your feedback, please visit our website www.mytutor.com</div>
     <div>----------------------------------------------------------------------------</div>
     <br/>
     <div>Hi {{ name }},<b> {{ timestamps }}</b></div>
     <div>{{ question }}</div>

     </body>
</html>